/* provides gap from top of 60px for the image not be cropped */
body::before {
  display: block;
  content: '';
  height: 60px;
}




@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
